.calendarTable {
    border: none;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    }


.calendarTable td {
    text-align: center;
    height: 2.5em;
    width: 2.5em;
    }


.calendarTable td.monthHead {
    font-weight: bolder;
    font-size: 3em;
    border: none;
    }


.calendarTable td.weekDay {
    font-weight: bold;
    font-size: 1.5em;
    }



.calendarTable td.monthDay {
    border: none;
    font-weight: normal;
    font-size: 1.5em;
    }



.calendarTable td.currentDay {
    font-weight: bold;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
    }


.head {
    text-align: center;
    width: 50%;
    margin-top: 1.5em;
    margin-left: 25%;
    margin-right: 25%;
    }


.btn {
    font-weight: bolder;
    font-size: 1.5em;
    text-decoration: none;
    background: transparent;
    border-style: none;
    outline: none;
    color: black;
    }


.but1 {
    width: 15%;
    height: 2.5em;
    text-align: center;
    float: left;
    }

.but2 {
    width: 15%;
    height: 2.5em;
    text-align: center;
    float: right;
    }

.butmid {
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    height: 2.5em;
}

.tit {
    /*float: left;*/
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 2.5em;
    font-size: 2.5em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    display: inline-block;
    line-height: 2.5em;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.9);
    }

#leftButton:hover {
    color: rgba(255, 255, 255, 0.9);
    }

#rightButton:hover {
    color: rgba(255, 255, 255, 0.9);
    }

#middleButton:hover {
    color: rgba(255, 255, 255, 0.9);
    }
    

.timeArrow {
  text-decoration: none;
  background: transparent;
  border-style: none;
  outline: none;
  color: black;
  }

.timeArrow:hover {
  color: rgba(255, 255, 255, 0.9);
  }

.centArrow {
  font-size: 1.75em;
  }

#leftCentArrow {
  float: left;
  }

#rightCentArrow {
  float: right;
  }
  
.decArrow {
  font-size: 1.5em;
  }
  
#leftDecArrow {
  float: left;
  }

#rightDecArrow {
  float: right;
  }
  
.yearArrow {
  font-size: 1.25em;
  }

#leftYearArrow {
  float: left;
  }

#rightYearArrow {
  float: right;
  }
